<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.DrugstemplateMapper">
  <resultMap id="BaseResultMap" type="com.neuedu.pojo.Drugstemplate">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="UserID" jdbcType="INTEGER" property="userid" />
    <result column="CreationTime" jdbcType="TIMESTAMP" property="creationtime" />
    <result column="Scope" jdbcType="CHAR" property="scope" />
    <result column="DelMark" jdbcType="INTEGER" property="delmark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, Name, UserID, CreationTime, Scope, DelMark
  </sql>
  <select id="selectByExample" parameterType="com.neuedu.pojo.DrugstemplateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DrugsTemplate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectDrugstemplate" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
      distinct
     DrugsTemplate.ID, Name, UserID, CreationTime, Scope, DelMark
    from DrugsTemplate,User
   	where  (Scope='1' or (Scope='2' and DrugsTemplate.UserID = User.ID and User.DeptID=#{userdept,jdbcType=INTEGER})
    		or (Scope='3' and DrugsTemplate.UserID = #{userid,jdbcType=INTEGER})) and DelMark=1
    order by DrugsTemplate.ID
    
  </select>
  
  
  
  
  
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DrugsTemplate
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from DrugsTemplate
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neuedu.pojo.DrugstemplateExample">
    delete from DrugsTemplate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neuedu.pojo.Drugstemplate">
    insert into DrugsTemplate (ID, Name, UserID, 
      CreationTime, Scope, DelMark
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{creationtime,jdbcType=TIMESTAMP}, #{scope,jdbcType=CHAR}, #{delmark,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.pojo.Drugstemplate">
    insert into DrugsTemplate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="userid != null">
        UserID,
      </if>
      <if test="creationtime != null">
        CreationTime,
      </if>
      <if test="scope != null">
        Scope,
      </if>
      <if test="delmark != null">
        DelMark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="creationtime != null">
        #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="scope != null">
        #{scope,jdbcType=CHAR},
      </if>
      <if test="delmark != null">
        #{delmark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neuedu.pojo.DrugstemplateExample" resultType="java.lang.Long">
    select count(*) from DrugsTemplate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update DrugsTemplate
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        UserID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.creationtime != null">
        CreationTime = #{record.creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.scope != null">
        Scope = #{record.scope,jdbcType=CHAR},
      </if>
      <if test="record.delmark != null">
        DelMark = #{record.delmark,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update DrugsTemplate
    set ID = #{record.id,jdbcType=INTEGER},
      Name = #{record.name,jdbcType=VARCHAR},
      UserID = #{record.userid,jdbcType=INTEGER},
      CreationTime = #{record.creationtime,jdbcType=TIMESTAMP},
      Scope = #{record.scope,jdbcType=CHAR},
      DelMark = #{record.delmark,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.pojo.Drugstemplate">
    update DrugsTemplate
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        UserID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="creationtime != null">
        CreationTime = #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="scope != null">
        Scope = #{scope,jdbcType=CHAR},
      </if>
      <if test="delmark != null">
        DelMark = #{delmark,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.pojo.Drugstemplate">
    update DrugsTemplate
    set Name = #{name,jdbcType=VARCHAR},
      UserID = #{userid,jdbcType=INTEGER},
      CreationTime = #{creationtime,jdbcType=TIMESTAMP},
      Scope = #{scope,jdbcType=CHAR},
      DelMark = #{delmark,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>