<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.SettlecategoryMapper">
  <resultMap id="BaseResultMap" type="com.neuedu.pojo.Settlecategory">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SettleCode" jdbcType="VARCHAR" property="settlecode" />
    <result column="SettleName" jdbcType="VARCHAR" property="settlename" />
    <result column="SequenceNo" jdbcType="INTEGER" property="sequenceno" />
    <result column="DelMark" jdbcType="INTEGER" property="delmark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SettleCode, SettleName, SequenceNo, DelMark
  </sql>
  <select id="selectByExample" parameterType="com.neuedu.pojo.SettlecategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SettleCategory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SettleCategory
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SettleCategory
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neuedu.pojo.SettlecategoryExample">
    delete from SettleCategory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neuedu.pojo.Settlecategory">
    insert into SettleCategory (ID, SettleCode, SettleName, 
      SequenceNo, DelMark)
    values (#{id,jdbcType=INTEGER}, #{settlecode,jdbcType=VARCHAR}, #{settlename,jdbcType=VARCHAR}, 
      #{sequenceno,jdbcType=INTEGER}, #{delmark,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.pojo.Settlecategory">
    insert into SettleCategory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="settlecode != null">
        SettleCode,
      </if>
      <if test="settlename != null">
        SettleName,
      </if>
      <if test="sequenceno != null">
        SequenceNo,
      </if>
      <if test="delmark != null">
        DelMark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="settlecode != null">
        #{settlecode,jdbcType=VARCHAR},
      </if>
      <if test="settlename != null">
        #{settlename,jdbcType=VARCHAR},
      </if>
      <if test="sequenceno != null">
        #{sequenceno,jdbcType=INTEGER},
      </if>
      <if test="delmark != null">
        #{delmark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neuedu.pojo.SettlecategoryExample" resultType="java.lang.Long">
    select count(*) from SettleCategory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SettleCategory
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.settlecode != null">
        SettleCode = #{record.settlecode,jdbcType=VARCHAR},
      </if>
      <if test="record.settlename != null">
        SettleName = #{record.settlename,jdbcType=VARCHAR},
      </if>
      <if test="record.sequenceno != null">
        SequenceNo = #{record.sequenceno,jdbcType=INTEGER},
      </if>
      <if test="record.delmark != null">
        DelMark = #{record.delmark,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SettleCategory
    set ID = #{record.id,jdbcType=INTEGER},
      SettleCode = #{record.settlecode,jdbcType=VARCHAR},
      SettleName = #{record.settlename,jdbcType=VARCHAR},
      SequenceNo = #{record.sequenceno,jdbcType=INTEGER},
      DelMark = #{record.delmark,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.pojo.Settlecategory">
    update SettleCategory
    <set>
      <if test="settlecode != null">
        SettleCode = #{settlecode,jdbcType=VARCHAR},
      </if>
      <if test="settlename != null">
        SettleName = #{settlename,jdbcType=VARCHAR},
      </if>
      <if test="sequenceno != null">
        SequenceNo = #{sequenceno,jdbcType=INTEGER},
      </if>
      <if test="delmark != null">
        DelMark = #{delmark,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.pojo.Settlecategory">
    update SettleCategory
    set SettleCode = #{settlecode,jdbcType=VARCHAR},
      SettleName = #{settlename,jdbcType=VARCHAR},
      SequenceNo = #{sequenceno,jdbcType=INTEGER},
      DelMark = #{delmark,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>