<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        ">
    
    <!--
    1. 配置securityManager，也就是shiro的核心。
     -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="sessionManager" ref="shiroSessionManager"/>
        <property name="realm" ref="myRealm"/>
        <!--&lt;!&ndash; 记住我 &ndash;&gt;-->
        <!--<property name="rememberMeManager" ref="rememberMeManager"/>-->
    </bean>
    <!-- session共享管理 -->
    <bean id="shiroSessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="3600000"/>
        <property name="sessionValidationScheduler" ref="sessionValidationScheduler"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <property name="sessionIdCookie" ref="pinsession"/>
    </bean>
    <!--
    指定本系统SESSIONID, 默认为: JSESSIONID
    问题: 与SERVLET容器名冲突, 如JETTY, TOMCAT 等默认JSESSIONID,
    当跳出SHIRO SERVLET时如ERROR-PAGE容器会为JSESSIONID重新分配值导致登录会话丢失!
    -->
    <bean id="pinsession" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg name="name" value="APINSESSIONID"/>
    </bean>
    <!--
    定时清理僵尸session，Shiro会启用一个后台守护线程定时执行清理操作
    用户直接关闭浏览器造成的孤立会话
    -->
    <bean id="sessionValidationScheduler"
          class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler">
        <property name="interval" value="3600000"/>
        <property name="sessionManager" ref="shiroSessionManager"/>
    </bean>
<!-- 自定义的shiroRealm 类中继承了 AuthorizingRealm类，并实现了登陆认证和授权认证的方法  -->
    <bean id="myRealm" class="com.neuedu.shiro.ShiroRealm">
       <!--  <property name="credentialsMatcher" ref="credentialsMatcher"/> -->
        <property name="cachingEnabled" value="true" />
        <!-- 开启认证缓存-->
        <property name="authenticationCachingEnabled" value="true"/>
         <!--开启授权缓存-->
        <property name="authorizationCachingEnabled" value="true"/>
    </bean>
     
    <!--
    6. 配置shiroFilter
    6.1 id必须和web.xml 文件中配置的DelegatingFilterProxy的filter-name一致
     -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
         <property name="securityManager" ref="securityManager"/>
         <property name="loginUrl" value="/login.html"/>
         <property name="successUrl" value="/index.html"/>
         <property name="unauthorizedUrl" value="/index.html"/>

        <!-- 配置哪些页面需要受保护
            以及访问这些页面需要的权限
            anon可以被匿名访问，或者说游客可以访问
            authc 必须认证之后才能访问，即登录后才能访问的页面
         -->
        <property name="filterChainDefinitions">
            <value>
                /login.html = anon
                /logon = anon
                /static/** = anon
                /lib/** = anon
                /temp/** = anon
                 /** = authc
            </value>
        </property>
    </bean>
    <!--==============================================rememberMeManager管理器========================================-->
    <!--&lt;!&ndash; rememberMeManager管理器 &ndash;&gt;-->
    <!--<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">-->
        <!--<property name="cookie" ref="rememberMeCookie"/>-->
        <!--<property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash; 记住我cookie &ndash;&gt;-->
    <!--<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">-->
        <!--<constructor-arg value="rememberMe"/>-->
        <!--&lt;!&ndash; 记住我cookie生效时间30天 &ndash;&gt;-->
        <!--<property name="maxAge" value="2592000"/>-->
    <!--</bean>-->
 
</beans>

